Repository epazar20/agent-automation: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-secrets, api-key-pattern-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*\.example$
  
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3
        files: \.py$

  - repo: local
    hooks:
      - id: no-hardcoded-secrets
        name: No hardcoded secrets
        entry: bash -c 'if grep -r --include="*.properties" --include="*.yml" --include="*.yaml" --include="*.json" -E "(password|secret|key|token|credential).*=.*[^_here|^your_|^example]" . --exclude-dir=.git --exclude-dir=target --exclude-dir=node_modules --exclude="*.example" --exclude="env.example"; then echo "❌ Hardcoded secrets detected! Use placeholder values ending with _here"; exit 1; fi'
        language: system
        files: \.(properties|yml|yaml|json)$
        stages: [commit]

  - repo: local
    hooks:
      - id: api-key-pattern-check
        name: API Key Pattern Check
        entry: bash -c 'if grep -r --include="*.properties" --include="*.yml" --include="*.yaml" --include="*.json" --include="*.js" --include="*.ts" -E "(hf_[a-zA-Z0-9]{36}|sk-[a-zA-Z0-9]{48}|[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12})" . --exclude-dir=.git --exclude-dir=target --exclude-dir=node_modules --exclude="*.example"; then echo "❌ Real API key patterns detected!"; exit 1; fi'
        language: system
        files: \.(properties|yml|yaml|json|js|ts)$
        stages: [commit]

Fix agent-automation production issues: DeepL API, AI Provider integration, and security hardening
  .secrets.baseline
  agent-provider/src/main/java/com/example/agentprovider/service/impl/TranslatorServiceImpl.java
  agent-provider/src/main/resources/application-production.properties
  ai-provider/fly.toml
  ai-provider/src/main/java/com/example/aiprovider/config/CorsConfig.java
  docker-compose.yml
  docs/LOCALHOST_PRODUCTION_FIX_REPORT.md
  docs/PRODUCTION_DEPLOYMENT_SUCCESS_REPORT.md
  frontend/fly.toml
  frontend/next.config.ts
  frontend/src/config/env.ts
  frontend/src/pages/debug-config.js
  frontend/src/pages/debug-config.tsx
  mcp-provider/src/main/java/com/example/mcpprovider/client/AiProviderClient.java
Due: no-hardcoded-secrets, api-key-pattern-check

🔒 Secure mail configuration with environment variables
  .env.example
  .pre-commit-config.yaml
  docker-compose.yml
  mcp-provider/fly.toml
  mcp-provider/src/main/resources/application-secrets.properties.example
Due: no-hardcoded-secrets, api-key-pattern-check

🧹 Clean up obsolete .example secrets files
  agent-provider/src/main/resources/application-secrets.properties.example
  ai-provider/src/main/resources/application-secrets.properties.example
  env.example
  frontend/.env.example
  mcp-provider/src/main/resources/application-secrets.properties.example
Due: none

docs: Add comprehensive GENERATE_STATEMENT documentation to README.md
  README.md
Due: none

Deploy to Render
  .gitignore
  AI_Agent_Automation_Finansal_Agentlar_Sunumu.md
  AI_Agent_Automation_Presentation_Outline.md
  agent-provider/src/main/java/com/example/agentprovider/config/CorsConfig.java
  agent-provider/src/main/resources/application-docker.properties
  agent-provider/src/main/resources/application-production.properties
  agent-provider/src/main/resources/application.properties
  ai-provider/src/main/java/com/example/aiprovider/config/CorsConfig.java
  ai-provider/src/main/resources/application-docker.properties
  ai-provider/src/main/resources/application-production.properties
  ai-provider/src/main/resources/application.properties
  frontend/next-env.d.ts
  mcp-provider/src/main/resources/application-production.properties
  mcp-provider/src/main/resources/application.properties
  render.yaml
Due: no-hardcoded-secrets, api-key-pattern-check

Fix tracking frontend/src/lib/utils.ts
  .gitignore
  frontend/src/lib/utils.ts
Due: api-key-pattern-check
